# Setup

In [1]:
%%capture
%%bash
python ./generate_data.py #gets built-in dataset from duckdb library and stores each table in a CSV file
python ./run_ddl.py #creates tables in spark and imports data from CSV files

Run Python code as shown below

In [13]:
a = 10

Run SQL code as shown below, with the `%%sql` called magics

In [16]:
%%sql
select 1

+---+
| 1 |
+---+
| 1 |
+---+

We use the `prod.db` schema where all our tables are create by `run_ddl.py`

In [2]:
%%sql --show
use prod.db

25/10/15 14:39:34 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

## Your code below

In [4]:
%%sql 
show catalogs;

+---------------+
|       catalog |
+---------------+
|          demo |
| spark_catalog |
+---------------+

In [22]:
%%sql
show schemas IN demo

-- Catalog -> schema

+-----------+
| namespace |
+-----------+
|      prod |
+-----------+

In [24]:
%%sql
show schemas IN prod;

-- schema -> namespace

+-----------+
| namespace |
+-----------+
|   prod.db |
+-----------+

In [28]:
%%sql
show tables IN prod.db

-- namespace -> Table

+-----------+-----------+-------------+
| namespace | tableName | isTemporary |
+-----------+-----------+-------------+
|   prod.db |  customer |       False |
|   prod.db |  lineitem |       False |
|   prod.db |    nation |       False |
|   prod.db |    orders |       False |
|   prod.db |      part |       False |
|   prod.db |  partsupp |       False |
|   prod.db |    region |       False |
|   prod.db |  supplier |       False |
+-----------+-----------+-------------+

In [29]:
%%sql --show
select * from customer limit 2

+-----------+--------------------+--------------------------------+-------------+-----------------+-----------+--------------+-----------------------------------------------------------------+
| c_custkey |             c_name |                      c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                       c_comment |
+-----------+--------------------+--------------------------------+-------------+-----------------+-----------+--------------+-----------------------------------------------------------------+
|         1 | Customer#000000001 |              j5JsirBM9PsCy0O1m |          15 | 25-989-741-2988 |    711.56 |     BUILDING |  y final requests wake slyly quickly special accounts. blithely |
|         2 | Customer#000000002 | 487LW1dovn6Q4dMVymKwwLE9OKf3QG |          13 | 23-768-687-3665 |    121.65 |   AUTOMOBILE | y carefully regular foxes. slyly regular requests about the bli |
+-----------+--------------------+--------------------------------+-------------+-----------------+-----------+--------------+-----------------------------------------------------------------+

In [30]:
%%sql
DESCRIBE lineitem

+-----------------+---------------+---------+
|        col_name |     data_type | comment |
+-----------------+---------------+---------+
|      l_orderkey |        bigint |    None |
|       l_partkey |        bigint |    None |
|       l_suppkey |        bigint |    None |
|    l_linenumber |           int |    None |
|      l_quantity | decimal(15,2) |    None |
| l_extendedprice | decimal(15,2) |    None |
|      l_discount | decimal(15,2) |    None |
|           l_tax | decimal(15,2) |    None |
|    l_returnflag |        string |    None |
|    l_linestatus |        string |    None |
|      l_shipdate |          date |    None |
|    l_commitdate |          date |    None |
|   l_receiptdate |          date |    None |
|  l_shipinstruct |        string |    None |
|      l_shipmode |        string |    None |
|       l_comment |        string |    None |
+-----------------+---------------+---------+

In [37]:
%%sql
DESCRIBE extended orders

+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+
|                     col_name |                                                                                                              data_type | comment |
+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+
|                   o_orderkey |                                                                                                                 bigint |    None |
|                    o_custkey |                                                                                                                 bigint |    None |
|                o_orderstatus |                                                                                                                 string |    None |
|                 o_totalprice |                                                                                                          decimal(15,2) |    None |
|                  o_orderdate |                                                                                                                   date |    None |
|              o_orderpriority |                                                                                                                 string |    None |
|                      o_clerk |                                                                                                                 string |    None |
|               o_shippriority |                                                                                                                    int |    None |
|                    o_comment |                                                                                                                 string |    None |
|                              |                                                                                                                        |         |
|           # Metadata Columns |                                                                                                                        |         |
|                     _spec_id |                                                                                                                    int |         |
|                   _partition |                                                                                                               struct<> |         |
|                        _file |                                                                                                                 string |         |
|                         _pos |                                                                                                                 bigint |         |
|                     _deleted |                                                                                                                boolean |         |
|                              |                                                                                                                        |         |
| # Detailed Table Information |                                                                                                                        |         |
|                         Name |                                                                                                    demo.prod.db.orders |         |
|                         Type |                                                                                                                MANAGED |         |
|                     Location |                                                                                          s3://warehouse/prod/db/orders |         |
|                     Provider |                                                                                                                iceberg |         |
|                        Owner |                                                                                                                   root |         |
|             Table Properties | [current-snapshot-id=7645639087780907448,format=iceberg/parquet,format-version=2,write.parquet.compression-codec=zstd] |         |
+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+

In [38]:
%%sql
SELECT
    *
FROM
    customer
WHERE
    c_nationkey = 20
LIMIT
    10;

+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+
| c_custkey |             c_name |                                c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                                                                          c_comment |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+
|         6 | Customer#000000006 |      g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E |          20 | 30-114-968-4951 |   7638.57 |   AUTOMOBILE |            quickly silent asymptotes are slyly regular excuses. instructions wake furiously? quickly bold courts p |
|        81 | Customer#000000081 |                       9jUFbrThIIeoUNd8 9 |          20 | 30-165-277-3269 |   2023.71 |     BUILDING |                                 s against the ironic packages haggle carefully above the slyly express pinto beans |
|       100 | Customer#000000100 |                           MBy6qq3OEGpV4u |          20 | 30-749-445-4907 |   9889.89 |    FURNITURE |                                     dazzle carefully furiously final foxes. express, ironic packages among the qui |
|       210 | Customer#000000210 |                   ,XOlfSzkZDAkm96adR41j, |          20 | 30-876-248-9750 |   7250.14 |    HOUSEHOLD |                                                                              es cajole bravely across the blithely |
|       223 | Customer#000000223 |                    MyQxUcG0P QCetmG00GlF |          20 | 30-193-643-1517 |   7476.20 |     BUILDING |           xcuses. silent theodolites across the carefully bold excuses sleep ironic, final courts. regular excuses |
|       228 | Customer#000000228 | rZ1wxvHNByT71bUJWZjXMDROzlAch6FVu,dj8Zfq |          20 | 30-435-915-1603 |   6868.12 |    FURNITURE |                                                                                      es. blithely permanent sentim |
|       247 | Customer#000000247 |                       eSAW4XaakYFj2WToKU |          20 | 30-151-905-3513 |   8495.92 |    HOUSEHOLD |                               tes nag according to the blithe, even packages. sometimes unusual packages integrate |
|       278 | Customer#000000278 |                         XHAfHlrYQM3elmhJ |          20 | 30-445-570-5841 |   7621.56 |     BUILDING | ely unusual accounts. stealthily special instructions affix blithely. regular, ironic packages sleep even platelet |
|       285 | Customer#000000285 |      rB6fTQKle64k3MvCCatad8DfMgR5OZA G4r |          20 | 30-235-130-1313 |   7276.72 |    FURNITURE |                slyly according to the blithely special instructions. ironic ideas against the blithely furious pac |
|       321 | Customer#000000321 |          LX0SKs3jqo9wH1yixIdGWp2ItclDiuL |          20 | 30-114-675-9153 |   7718.77 |    FURNITURE |                               ng the final, bold requests. furiously regular accounts inside the furiously pending |
+-----------+--------------------+------------------------------------------+-------------+-----------------+-----------+--------------+--------------------------------------------------------------------------------------------------------------------+

In [41]:
%%sql
SELECT
    l_returnflag
FROM
    lineitem
GROUP BY l_returnflag;

+--------------+
| l_returnflag |
+--------------+
|            A |
|            N |
|            R |
+--------------+

In [44]:
%%sql
-- exercise 1
SELECT
    r_name as region_name,
    COUNT(*) as num_returned
FROM
    lineitem l
    JOIN orders o ON o_orderkey = l_orderkey
    JOIN customer c ON c_custkey = o_custkey
    JOIN nation n on n_nationkey = c_nationkey
    JOIN region r on r_regionkey = n_regionkey
WHERE l_returnflag = 'R'
GROUP BY r_name
ORDER BY r_name;

+-------------+--------------+
| region_name | num_returned |
+-------------+--------------+
|      AFRICA |        29624 |
|     AMERICA |        29218 |
|        ASIA |        29786 |
|      EUROPE |        29259 |
| MIDDLE EAST |        30414 |
+-------------+--------------+

In [53]:
%%sql
-- exercise 2
SELECT
    p_name as part_name,
    l_suppkey
FROM
    lineitem
    JOIN part ON p_partkey = l_partkey
GROUP BY 
    p_partkey,
    p_name
ORDER BY SUM(l_quantity) DESC
LIMIT 10

+---------------------------------------+
|                             part_name |
+---------------------------------------+
|        snow blanched blush linen blue |
|     moccasin brown puff thistle steel |
|   floral azure papaya moccasin indian |
| blanched white ghost frosted metallic |
|        hot blue honeydew salmon slate |
|       lavender green brown linen dark |
|   frosted chocolate spring peach lawn |
|  hot blanched magenta yellow metallic |
|         orange white medium plum drab |
|             brown hot olive tan black |
+---------------------------------------+

In [76]:
%%sql
SELECT
    s_name as seller_name,
    total_sold
FROM
    supplier
    JOIN partsupp ON ps_suppkey = s_suppkey
    JOIN (
        SELECT
            p_partkey,
            p_name as part_name,
            SUM(l_quantity) as total_sold
        FROM
            lineitem
            JOIN part ON p_partkey = l_partkey
        GROUP BY 
            p_partkey,
            p_name
        ORDER BY total_sold DESC
        LIMIT 10
    ) t ON p_partkey = ps_partkey
ORDER BY total_sold DESC, s_name;

+--------------------+------------+
|        seller_name | total_sold |
+--------------------+------------+
| Supplier#000000215 |    1484.00 |
| Supplier#000000414 |    1484.00 |
| Supplier#000000681 |    1484.00 |
| Supplier#000000948 |    1484.00 |
| Supplier#000000150 |    1465.00 |
| Supplier#000000419 |    1465.00 |
| Supplier#000000612 |    1465.00 |
| Supplier#000000881 |    1465.00 |
| Supplier#000000141 |    1427.00 |
| Supplier#000000401 |    1427.00 |
| Supplier#000000621 |    1427.00 |
| Supplier#000000881 |    1427.00 |
| Supplier#000000248 |    1420.00 |
| Supplier#000000513 |    1420.00 |
| Supplier#000000718 |    1420.00 |
| Supplier#000000983 |    1420.00 |
| Supplier#000000115 |    1413.00 |
| Supplier#000000380 |    1413.00 |
| Supplier#000000585 |    1413.00 |
| Supplier#000000850 |    1413.00 |
| Supplier#000000196 |    1412.00 |
| Supplier#000000455 |    1412.00 |
| Supplier#000000714 |    1412.00 |
| Supplier#000000973 |    1412.00 |
| Supplier#000000053 |    1398.00 |
| Supplier#000000304 |    1398.00 |
| Supplier#000000551 |    1398.00 |
| Supplier#000000802 |    1398.00 |
| Supplier#000000135 |    1389.00 |
| Supplier#000000393 |    1389.00 |
| Supplier#000000651 |    1389.00 |
| Supplier#000000909 |    1389.00 |
| Supplier#000000039 |    1385.00 |
| Supplier#000000296 |    1385.00 |
| Supplier#000000553 |    1385.00 |
| Supplier#000000782 |    1385.00 |
| Supplier#000000071 |    1382.00 |
| Supplier#000000329 |    1382.00 |
| Supplier#000000555 |    1382.00 |
| Supplier#000000813 |    1382.00 |
+--------------------+------------+

In [85]:
%%sql
SELECT
    CASE
        WHEN o_totalprice > 100000 THEN 'high'
        WHEN o_totalprice BETWEEN 25000 AND 100000 THEN 'medium'
        ELSE 'low'
    END AS order_price_bucket,
    COUNT(*) as quantity_returned
FROM
    orders
    JOIN lineitem ON l_orderkey = o_orderkey
WHERE l_returnflag = 'R'
GROUP BY order_price_bucket
ORDER BY
    CASE order_price_bucket
        WHEN 'low' THEN 1
        WHEN 'medium' THEN 2
        WHEN 'high' THEN 3
    END;

+--------------------+-------------------+
| order_price_bucket | quantity_returned |
+--------------------+-------------------+
|                low |              2745 |
|             medium |             23777 |
|               high |            121779 |
+--------------------+-------------------+

In [87]:
%%sql
SELECT
    n_name as nation,
    ROUND(AVG(DATEDIFF(l_receiptdate, l_shipdate)), 2) AS avg_delivery_days
FROM
    lineitem
    JOIN orders ON o_orderkey = l_orderkey
    JOIN customer ON c_custkey = o_custkey
    JOIN nation on n_nationkey = c_nationkey
WHERE
    l_receiptdate IS NOT NULL
    AND l_shipdate IS NOT NULL
GROUP BY n_name
ORDER BY avg_delivery_days;

+----------------+-------------------+
|         nation | avg_delivery_days |
+----------------+-------------------+
|         BRAZIL |             15.37 |
|        VIETNAM |             15.39 |
|           IRAN |             15.44 |
|          JAPAN |             15.45 |
|       ETHIOPIA |             15.45 |
|  UNITED STATES |             15.46 |
|          EGYPT |             15.46 |
|         CANADA |             15.48 |
|         RUSSIA |             15.48 |
|         JORDAN |             15.49 |
|        ALGERIA |             15.49 |
|      ARGENTINA |              15.5 |
|      INDONESIA |              15.5 |
|        MOROCCO |             15.51 |
|        ROMANIA |             15.51 |
|          INDIA |             15.52 |
|           PERU |             15.52 |
| UNITED KINGDOM |             15.53 |
|   SAUDI ARABIA |             15.53 |
|           IRAQ |             15.53 |
|        GERMANY |             15.53 |
|         FRANCE |             15.58 |
|     MOZAMBIQUE |             15.59 |
|          CHINA |              15.6 |
|          KENYA |             15.67 |
+----------------+-------------------+

In [10]:
%%sql
WITH
    top_selling_parts AS (
        SELECT
            p_partkey,
            p_name,
            COUNT(*) as quantity_sold
        FROM
            lineitem
            JOIN part ON p_partkey = l_partkey
        GROUP BY
            p_partkey,
            p_name
        ORDER BY quantity_sold DESC
        LIMIT 10
    )
SELECT DISTINCT
    s_name
FROM
    supplier
    JOIN partsupp ON ps_suppkey = s_suppkey
    JOIN top_selling_parts ON p_partkey = ps_partkey
ORDER BY s_name;

+--------------------+
|             s_name |
+--------------------+
| Supplier#000000049 |
| Supplier#000000052 |
| Supplier#000000115 |
| Supplier#000000118 |
| Supplier#000000141 |
| Supplier#000000205 |
| Supplier#000000215 |
| Supplier#000000236 |
| Supplier#000000252 |
| Supplier#000000293 |
| Supplier#000000310 |
| Supplier#000000378 |
| Supplier#000000380 |
| Supplier#000000397 |
| Supplier#000000401 |
| Supplier#000000423 |
| Supplier#000000445 |
| Supplier#000000472 |
| Supplier#000000496 |
| Supplier#000000545 |
| Supplier#000000568 |
| Supplier#000000585 |
| Supplier#000000598 |
| Supplier#000000621 |
| Supplier#000000653 |
| Supplier#000000671 |
| Supplier#000000687 |
| Supplier#000000714 |
| Supplier#000000716 |
| Supplier#000000797 |
| Supplier#000000826 |
| Supplier#000000850 |
| Supplier#000000858 |
| Supplier#000000881 |
| Supplier#000000909 |
| Supplier#000000938 |
| Supplier#000000951 |
| Supplier#000000976 |
| Supplier#000000983 |
+--------------------+

In [16]:
%%sql
SELECT
  *
FROM
  (
    SELECT
      o_orderdate,
      o_totalprice,
      o_custkey,
      RANK() -- RANKING FUNCTION 
      OVER (
        PARTITION BY
          o_orderdate -- PARTITION BY order date
        ORDER BY
          o_totalprice DESC -- ORDER rows withing partition by totalprice
      ) AS rnk
    FROM
      orders
  )
WHERE
  rnk <= 3
ORDER BY
  o_orderdate
LIMIT
  6;

+-------------+--------------+-----------+-----+
| o_orderdate | o_totalprice | o_custkey | rnk |
+-------------+--------------+-----------+-----+
|  1992-01-01 |    358534.43 |     10942 |   1 |
|  1992-01-01 |    307146.32 |      5426 |   2 |
|  1992-01-01 |    306169.25 |     12973 |   3 |
|  1992-01-02 |    319926.05 |     12161 |   1 |
|  1992-01-02 |    302943.34 |     10526 |   2 |
|  1992-01-02 |    299610.57 |     11650 |   3 |
+-------------+--------------+-----------+-----+

In [18]:
%%sql
SELECT
  order_month,
  o_custkey,
  total_price,
  ROUND(
    AVG(total_price) OVER ( -- FUNCTION: RUNNING AVERAGE
      PARTITION BY
        o_custkey -- PARTITIONED BY customer
      ORDER BY
        order_month ROWS BETWEEN 1 PRECEDING
        AND 1 FOLLOWING -- WINDOW FRAME DEFINED AS 1 ROW PRECEDING to 1 ROW FOLLOWING
    ),
    2
  ) AS three_mo_total_price_avg
FROM
  (
    SELECT
      date_format(o_orderdate, 'yyyy-MM') AS order_month,
      o_custkey,
      SUM(o_totalprice) AS total_price
    FROM
      orders
    GROUP BY
      1,
      2
  )
LIMIT
  5;

+-------------+-----------+-------------+--------------------------+
| order_month | o_custkey | total_price | three_mo_total_price_avg |
+-------------+-----------+-------------+--------------------------+
|     1992-04 |         1 |   367040.73 |                315144.14 |
|     1993-06 |         1 |   263247.54 |                221937.11 |
|     1994-12 |         1 |    35523.05 |                177975.27 |
|     1995-11 |         1 |   235155.22 |                117388.04 |
|     1996-05 |         1 |    81485.84 |                124770.33 |
+-------------+-----------+-------------+--------------------------+

In [7]:
%%sql 
WITH orders_cte AS (
    SELECT
        o_orderkey,
        o_custkey,
        o_orderstatus,
        CAST(o_orderdate AS TIMESTAMP) AS o_orderdate,
        o_orderpriority,
        o_clerk,
        o_shippriority,
        o_comment,
        o_totalprice
    FROM orders
),
stg_customers AS (
    SELECT
        c_custkey,
        c_name,
        c_address,
        c_nationkey,
        c_phone,
        c_acctbal,
        c_mktsegment,
        c_comment
    FROM customer
),
nation_cte AS (
    SELECT
        CAST(n_nationkey AS INT) AS n_nationkey,
        CAST(n_name AS STRING) AS n_name,
        CAST(n_regionkey AS INT) AS n_regionkey,
        CAST(n_comment AS STRING) AS n_comment
    FROM nation
),
dim_customers AS (
    SELECT
        c.c_custkey,
        c.c_name,
        c.c_address,
        c.c_nationkey,
        n.n_name AS nation_name,
        c.c_phone,
        c.c_acctbal,
        c.c_mktsegment,
        c.c_comment
    FROM stg_customers c
    INNER JOIN nation_cte n ON c.c_nationkey = n.n_nationkey
)
SELECT
    o.o_orderkey,
    o.o_custkey,
    o.o_orderstatus,
    o.o_orderdate,
    o.o_orderpriority,
    o.o_clerk,
    o.o_shippriority,
    o.o_totalprice,
    c.c_name AS customer_name,
    c.c_address AS customer_address,
    c.c_phone AS customer_phone,
    c.c_acctbal AS customer_account_balance,
    c.c_mktsegment AS customer_market_segment,
    c.nation_name AS customer_nation_name
FROM orders_cte o
INNER JOIN dim_customers c ON o.o_custkey = c.c_custkey;

+------------+-----------+---------------+---------------------+-----------------+-----------------+----------------+--------------+--------------------+------------------------------------------+-----------------+--------------------------+-------------------------+----------------------+
| o_orderkey | o_custkey | o_orderstatus |         o_orderdate | o_orderpriority |         o_clerk | o_shippriority | o_totalprice |      customer_name |                         customer_address |  customer_phone | customer_account_balance | customer_market_segment | customer_nation_name |
+------------+-----------+---------------+---------------------+-----------------+-----------------+----------------+--------------+--------------------+------------------------------------------+-----------------+--------------------------+-------------------------+----------------------+
|        897 |      4894 |             P | 1995-03-20 00:00:00 |        1-URGENT | Clerk#000000316 |              0 |     66775.72 | Customer#000004894 |          qccDi3BeqTSkIJKsp21j4KBsQpPk0Gt | 30-152-685-8820 |                  7927.44 |               HOUSEHOLD |         SAUDI ARABIA |
|       4034 |      9233 |             F | 1993-11-14 00:00:00 | 4-NOT SPECIFIED | Clerk#000000548 |              0 |    307637.71 | Customer#000009233 |                1Ba3hAO5jmBFJpKq2QIdZlb3Z | 33-327-912-9200 |                  4227.72 |               FURNITURE |       UNITED KINGDOM |
|       4769 |     12044 |             P | 1995-04-14 00:00:00 | 4-NOT SPECIFIED | Clerk#000000116 |              0 |    206126.35 | Customer#000012044 |                             u9bevlA h3PS | 10-488-427-2414 |                  4825.26 |               MACHINERY |              ALGERIA |
|       5123 |       964 |             O | 1998-02-10 00:00:00 |        1-URGENT | Clerk#000000776 |              0 |     18908.75 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |
|       6695 |      1697 |             F | 1992-06-28 00:00:00 |           5-LOW | Clerk#000000877 |              0 |    322140.76 | Customer#000001697 |                    8aHZSJIoZKtIfcD8IFMCu | 34-288-313-5272 |                  -913.24 |               FURNITURE |        UNITED STATES |
|       6821 |     12568 |             O | 1997-10-02 00:00:00 |          2-HIGH | Clerk#000000256 |              0 |     70652.83 | Customer#000012568 |      4sXc57EIjaq27SZOVapVbyq2D9c76iVS7a3 | 12-653-119-1864 |                  4980.83 |               FURNITURE |               BRAZIL |
|      11143 |       964 |             F | 1992-11-27 00:00:00 |           5-LOW | Clerk#000000613 |              0 |    129516.39 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |
|      12961 |     11434 |             F | 1994-12-13 00:00:00 |          2-HIGH | Clerk#000000913 |              0 |    156148.09 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      13728 |        26 |             O | 1995-12-11 00:00:00 |          2-HIGH | Clerk#000000094 |              0 |    122064.03 | Customer#000000026 |                          TFH OW1MeFU6OIb | 32-363-455-4837 |                  5182.05 |              AUTOMOBILE |               RUSSIA |
|      15651 |     14846 |             F | 1992-10-05 00:00:00 |        1-URGENT | Clerk#000000592 |              0 |     96790.11 | Customer#000014846 |                           MJmSOptlNEaAsx | 15-972-996-4702 |                  9021.18 |               HOUSEHOLD |             ETHIOPIA |
|      16644 |      8075 |             O | 1998-06-03 00:00:00 |          2-HIGH | Clerk#000000109 |              0 |     98736.15 | Customer#000008075 |                   u 7MeAwVV4Eu1rbqTlxA84 | 18-637-597-6271 |                  7132.46 |              AUTOMOBILE |                INDIA |
|      19108 |      7279 |             O | 1995-10-25 00:00:00 |        1-URGENT | Clerk#000000360 |              0 |    154589.46 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      19653 |      7225 |             F | 1992-09-12 00:00:00 | 4-NOT SPECIFIED | Clerk#000000737 |              0 |    206908.00 | Customer#000007225 |                   02Nwa zGNBxi9c7aFvr6AT | 14-713-359-5982 |                  5837.09 |               FURNITURE |                EGYPT |
|      20071 |      4894 |             O | 1995-09-18 00:00:00 |        3-MEDIUM | Clerk#000000301 |              0 |    195942.86 | Customer#000004894 |          qccDi3BeqTSkIJKsp21j4KBsQpPk0Gt | 30-152-685-8820 |                  7927.44 |               HOUSEHOLD |         SAUDI ARABIA |
|      22593 |       964 |             O | 1998-05-24 00:00:00 |          2-HIGH | Clerk#000000842 |              0 |    163687.20 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |
|      22725 |     11276 |             O | 1996-10-14 00:00:00 |           5-LOW | Clerk#000000514 |              0 |    285576.21 | Customer#000011276 |            HObHz2MOgDPmiamtyCqCyZ95,8k6, | 17-347-542-9870 |                  4441.73 |               HOUSEHOLD |              GERMANY |
|      23458 |      8440 |             F | 1994-01-18 00:00:00 |        3-MEDIUM | Clerk#000000908 |              0 |     35153.77 | Customer#000008440 |          gN8x7uq6afGujqAgZuMucuLXkic8tvO | 29-952-904-5152 |                  -524.44 |               HOUSEHOLD |              ROMANIA |
|      23750 |     11434 |             F | 1992-08-18 00:00:00 |          2-HIGH | Clerk#000000213 |              0 |     66890.68 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      24581 |     11434 |             F | 1993-04-10 00:00:00 |          2-HIGH | Clerk#000000803 |              0 |    104826.28 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      24614 |      7225 |             F | 1994-11-22 00:00:00 |           5-LOW | Clerk#000000256 |              0 |     19945.07 | Customer#000007225 |                   02Nwa zGNBxi9c7aFvr6AT | 14-713-359-5982 |                  5837.09 |               FURNITURE |                EGYPT |
|      25159 |       964 |             O | 1996-03-27 00:00:00 |        3-MEDIUM | Clerk#000000304 |              0 |    143611.10 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |
|      25255 |      4894 |             F | 1992-02-21 00:00:00 |        1-URGENT | Clerk#000000356 |              0 |    135923.32 | Customer#000004894 |          qccDi3BeqTSkIJKsp21j4KBsQpPk0Gt | 30-152-685-8820 |                  7927.44 |               HOUSEHOLD |         SAUDI ARABIA |
|      25639 |     12568 |             F | 1994-10-12 00:00:00 |        3-MEDIUM | Clerk#000000951 |              0 |     89625.34 | Customer#000012568 |      4sXc57EIjaq27SZOVapVbyq2D9c76iVS7a3 | 12-653-119-1864 |                  4980.83 |               FURNITURE |               BRAZIL |
|      26432 |     11434 |             F | 1994-12-31 00:00:00 |           5-LOW | Clerk#000000709 |              0 |    143174.77 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      26849 |      8440 |             O | 1998-04-13 00:00:00 |          2-HIGH | Clerk#000000740 |              0 |    121797.98 | Customer#000008440 |          gN8x7uq6afGujqAgZuMucuLXkic8tvO | 29-952-904-5152 |                  -524.44 |               HOUSEHOLD |              ROMANIA |
|      29318 |      3764 |             O | 1995-07-01 00:00:00 | 4-NOT SPECIFIED | Clerk#000000155 |              0 |    177706.50 | Customer#000003764 |             Rl1DQe9jTwi2tGwkb5mOxqvEGYHK | 16-680-282-4336 |                   564.83 |               FURNITURE |               FRANCE |
|      32421 |      2453 |             O | 1995-12-19 00:00:00 | 4-NOT SPECIFIED | Clerk#000000548 |              0 |    123319.93 | Customer#000002453 |       A0d9yBVjSuug1ffQoejMKJtCKDtvL 52wm | 24-594-585-1289 |                  9322.71 |               FURNITURE |                KENYA |
|      32487 |     11945 |             O | 1996-03-26 00:00:00 |        1-URGENT | Clerk#000000338 |              0 |    174354.60 | Customer#000011945 |   RhyUJ8sYo728AJGWuxnl672qkxylw0sctTGpFL | 18-240-187-8306 |                   623.09 |               HOUSEHOLD |                INDIA |
|      33382 |     14846 |             O | 1997-05-07 00:00:00 |          2-HIGH | Clerk#000000280 |              0 |     66207.61 | Customer#000014846 |                           MJmSOptlNEaAsx | 15-972-996-4702 |                  9021.18 |               HOUSEHOLD |             ETHIOPIA |
|      34470 |      2453 |             F | 1992-02-02 00:00:00 |        1-URGENT | Clerk#000000361 |              0 |    158555.77 | Customer#000002453 |       A0d9yBVjSuug1ffQoejMKJtCKDtvL 52wm | 24-594-585-1289 |                  9322.71 |               FURNITURE |                KENYA |
|      35558 |      9968 |             F | 1994-09-16 00:00:00 |        1-URGENT | Clerk#000000572 |              0 |    157383.29 | Customer#000009968 |                            5By9zaOZruy5I | 29-422-256-8422 |                  -352.30 |              AUTOMOBILE |              ROMANIA |
|      36647 |      4823 |             F | 1994-07-01 00:00:00 |          2-HIGH | Clerk#000000975 |              0 |    200822.12 | Customer#000004823 | tkqauz9N50P9GPJLmvLakIfV3wF6OP8E6roZAqIQ | 33-942-726-1376 |                  6455.04 |                BUILDING |       UNITED KINGDOM |
|      37895 |      1697 |             F | 1992-03-31 00:00:00 |        1-URGENT | Clerk#000000159 |              0 |     82862.29 | Customer#000001697 |                    8aHZSJIoZKtIfcD8IFMCu | 34-288-313-5272 |                  -913.24 |               FURNITURE |        UNITED STATES |
|      38434 |      9715 |             F | 1994-05-10 00:00:00 |          2-HIGH | Clerk#000000319 |              0 |    136614.46 | Customer#000009715 | k nblDG1qsYiFKRv1pcuQMl,7,DiLaLhbKfQS VI | 11-497-432-5728 |                  9355.70 |                BUILDING |            ARGENTINA |
|      39783 |     14846 |             F | 1992-09-21 00:00:00 | 4-NOT SPECIFIED | Clerk#000000611 |              0 |    132549.77 | Customer#000014846 |                           MJmSOptlNEaAsx | 15-972-996-4702 |                  9021.18 |               HOUSEHOLD |             ETHIOPIA |
|      39941 |      9233 |             F | 1994-10-19 00:00:00 |        3-MEDIUM | Clerk#000000772 |              0 |      8649.89 | Customer#000009233 |                1Ba3hAO5jmBFJpKq2QIdZlb3Z | 33-327-912-9200 |                  4227.72 |               FURNITURE |       UNITED KINGDOM |
|      40837 |     11434 |             O | 1996-10-31 00:00:00 |        1-URGENT | Clerk#000000135 |              0 |    256405.74 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      45857 |      7279 |             O | 1997-09-07 00:00:00 |           5-LOW | Clerk#000000456 |              0 |    103236.08 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      47172 |      3091 |             F | 1993-12-03 00:00:00 |          2-HIGH | Clerk#000001000 |              0 |     84505.86 | Customer#000003091 |                     6aKsMqm7 MyGe634P9Uo | 12-848-402-5035 |                  2051.91 |              AUTOMOBILE |               BRAZIL |
|      47875 |      3506 |             F | 1992-08-05 00:00:00 |        3-MEDIUM | Clerk#000000006 |              0 |    196711.37 | Customer#000003506 |                     EORTrwgR0L0BDDJGEkXL | 31-490-106-2401 |                  4088.65 |               FURNITURE |              VIETNAM |
|      48417 |      3091 |             O | 1997-12-24 00:00:00 |        1-URGENT | Clerk#000000326 |              0 |      4970.85 | Customer#000003091 |                     6aKsMqm7 MyGe634P9Uo | 12-848-402-5035 |                  2051.91 |              AUTOMOBILE |               BRAZIL |
|      48738 |     11938 |             O | 1998-02-02 00:00:00 |          2-HIGH | Clerk#000000134 |              0 |     63346.20 | Customer#000011938 |           Sx8sx7SP3zwqSJ13dgqVF6kl4NbyiU | 11-885-561-3296 |                  2730.00 |               HOUSEHOLD |            ARGENTINA |
|      48963 |     14117 |             F | 1993-10-20 00:00:00 | 4-NOT SPECIFIED | Clerk#000000239 |              0 |    218990.63 | Customer#000014117 |                            WBnMPx,MJgKox | 11-117-744-7856 |                  8512.51 |               FURNITURE |            ARGENTINA |
|      50726 |      4894 |             O | 1995-11-01 00:00:00 |           5-LOW | Clerk#000000619 |              0 |    282669.94 | Customer#000004894 |          qccDi3BeqTSkIJKsp21j4KBsQpPk0Gt | 30-152-685-8820 |                  7927.44 |               HOUSEHOLD |         SAUDI ARABIA |
|      51078 |      7225 |             O | 1997-02-11 00:00:00 |          2-HIGH | Clerk#000000760 |              0 |    113771.76 | Customer#000007225 |                   02Nwa zGNBxi9c7aFvr6AT | 14-713-359-5982 |                  5837.09 |               FURNITURE |                EGYPT |
|      52835 |      8075 |             O | 1997-09-13 00:00:00 | 4-NOT SPECIFIED | Clerk#000000006 |              0 |    198152.60 | Customer#000008075 |                   u 7MeAwVV4Eu1rbqTlxA84 | 18-637-597-6271 |                  7132.46 |              AUTOMOBILE |                INDIA |
|      54722 |        26 |             F | 1993-01-08 00:00:00 |           5-LOW | Clerk#000000380 |              0 |    230433.91 | Customer#000000026 |                          TFH OW1MeFU6OIb | 32-363-455-4837 |                  5182.05 |              AUTOMOBILE |               RUSSIA |
|      56934 |     14846 |             O | 1997-10-22 00:00:00 | 4-NOT SPECIFIED | Clerk#000000522 |              0 |    149263.01 | Customer#000014846 |                           MJmSOptlNEaAsx | 15-972-996-4702 |                  9021.18 |               HOUSEHOLD |             ETHIOPIA |
|      57734 |     10156 |             F | 1994-09-17 00:00:00 |          2-HIGH | Clerk#000000235 |              0 |    241249.77 | Customer#000010156 |       29F6XQFI TnTblMe5,yNf7Qz1lSZgDI1SH | 16-186-469-2803 |                  9481.28 |               HOUSEHOLD |               FRANCE |
|      60551 |      2509 |             O | 1995-12-19 00:00:00 |          2-HIGH | Clerk#000000555 |              0 |    180052.45 | Customer#000002509 |                     jsNxW0,D5BsFWdjN98KK | 15-871-781-7491 |                  2170.92 |                BUILDING |             ETHIOPIA |
|      63591 |      7279 |             O | 1997-03-04 00:00:00 |        1-URGENT | Clerk#000000062 |              0 |    109690.20 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      65318 |      4823 |             O | 1998-06-08 00:00:00 | 4-NOT SPECIFIED | Clerk#000000542 |              0 |    119172.40 | Customer#000004823 | tkqauz9N50P9GPJLmvLakIfV3wF6OP8E6roZAqIQ | 33-942-726-1376 |                  6455.04 |                BUILDING |       UNITED KINGDOM |
|      65890 |     11945 |             F | 1992-11-08 00:00:00 |           5-LOW | Clerk#000000602 |              0 |     33232.43 | Customer#000011945 |   RhyUJ8sYo728AJGWuxnl672qkxylw0sctTGpFL | 18-240-187-8306 |                   623.09 |               HOUSEHOLD |                INDIA |
|      69125 |      1697 |             F | 1995-02-07 00:00:00 | 4-NOT SPECIFIED | Clerk#000000392 |              0 |     13855.61 | Customer#000001697 |                    8aHZSJIoZKtIfcD8IFMCu | 34-288-313-5272 |                  -913.24 |               FURNITURE |        UNITED STATES |
|      69537 |     10156 |             F | 1994-11-19 00:00:00 |        1-URGENT | Clerk#000000916 |              0 |    177180.99 | Customer#000010156 |       29F6XQFI TnTblMe5,yNf7Qz1lSZgDI1SH | 16-186-469-2803 |                  9481.28 |               HOUSEHOLD |               FRANCE |
|      70402 |     11434 |             F | 1992-03-29 00:00:00 |        1-URGENT | Clerk#000000231 |              0 |    181073.13 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      70823 |     14117 |             F | 1993-11-22 00:00:00 | 4-NOT SPECIFIED | Clerk#000000372 |              0 |    147500.83 | Customer#000014117 |                            WBnMPx,MJgKox | 11-117-744-7856 |                  8512.51 |               FURNITURE |            ARGENTINA |
|      71110 |      9715 |             F | 1994-08-02 00:00:00 |        1-URGENT | Clerk#000000582 |              0 |     23090.26 | Customer#000009715 | k nblDG1qsYiFKRv1pcuQMl,7,DiLaLhbKfQS VI | 11-497-432-5728 |                  9355.70 |                BUILDING |            ARGENTINA |
|      71458 |      7747 |             O | 1995-07-22 00:00:00 |          2-HIGH | Clerk#000000648 |              0 |    193393.78 | Customer#000007747 |                            TqdTiaifcCvgF | 11-694-881-1181 |                  2529.29 |                BUILDING |            ARGENTINA |
|      76419 |      7279 |             O | 1997-08-27 00:00:00 |        3-MEDIUM | Clerk#000000207 |              0 |    137808.27 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      77959 |      7279 |             O | 1996-07-12 00:00:00 |           5-LOW | Clerk#000000877 |              0 |    239652.63 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      78241 |     14719 |             O | 1997-09-18 00:00:00 | 4-NOT SPECIFIED | Clerk#000000648 |              0 |     91537.25 | Customer#000014719 |                  ZmnH7S6jFja1M,8zWBxx7Ew | 13-820-591-8031 |                  4431.67 |              AUTOMOBILE |               CANADA |
|      79680 |      7225 |             F | 1995-01-23 00:00:00 | 4-NOT SPECIFIED | Clerk#000000572 |              0 |    194622.79 | Customer#000007225 |                   02Nwa zGNBxi9c7aFvr6AT | 14-713-359-5982 |                  5837.09 |               FURNITURE |                EGYPT |
|      80998 |     11938 |             F | 1994-06-23 00:00:00 |           5-LOW | Clerk#000000613 |              0 |    228222.40 | Customer#000011938 |           Sx8sx7SP3zwqSJ13dgqVF6kl4NbyiU | 11-885-561-3296 |                  2730.00 |               HOUSEHOLD |            ARGENTINA |
|      81287 |       964 |             O | 1998-03-12 00:00:00 | 4-NOT SPECIFIED | Clerk#000000077 |              0 |     50195.93 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |

In [20]:
orders = [
    {"customer_id": "C001", "product": "laptop", "quantity": 2, "price": 1200.00},
    {"customer_id": "C002", "product": "mouse", "quantity": 1, "price": 25.99},
    {"customer_id": "C001", "product": "keyboard", "quantity": 1, "price": 89.50},
    {"customer_id": "C003", "product": "monitor", "quantity": 1, "price": 299.99},
    {"customer_id": "C002", "product": "laptop", "quantity": 1, "price": 1200.00},
    {"customer_id": "C004", "product": "headphones", "quantity": 3, "price": 79.99},
    {"customer_id": "C001", "product": "webcam", "quantity": 1, "price": 45.00},
    {"customer_id": "C003", "product": "mouse", "quantity": 2, "price": 25.99},
    {"customer_id": "C002", "product": "speaker", "quantity": 1, "price": 150.00},
    {"customer_id": "C005", "product": "tablet", "quantity": 1, "price": 399.99}
]

In [23]:
from collections import Counter

customer_counts = Counter(order["customer_id"] for order in orders)

In [25]:
print(
    "################################################################################"
)
print("Use standard python libraries to do the transformations")
print(
    "################################################################################"
)

################################################################################
Use standard python libraries to do the transformations
################################################################################

In [26]:
import csv

# Read data from CSV file into list of dict called data
data = []
with open("./sample_data.csv", "r", newline="") as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        data.append(row)
print(data[:2])

FileNotFoundError: [Errno 2] No such file or directory: './sample_data.csv'